/*Root Settings*/
* {
	/*outline : 1px solid #F00;*/
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.navHyper div a:nth-of-type(4) {
	color: #FF8500;
	background-color: transparent;
}
.top {
	background-image: url("../pic/planBG.jpg");
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 60vh;
}
.topMain {
	color: #FFF;
	display: inline-block;
	font-size: 14px;
	margin: auto;
	line-height: 45px;
	padding: 30px;
	margin-top: 130px;
}
.topText {
	border: 2px solid #FFF;
	cursor: default;
	padding-top: 20px;
	text-align: center;
}
.topText h2 {
	border-radius: 10px;
	display: block;
	font-size: 40px;
	line-height: 50px;
}
.topText p {
	color: #FFF;
	display: block;
	font-size: 14px;
	line-height: 30px;
	padding: 20px;
}
.project {
	text-align: center;
}
.project h3{
	color: #00A0E9;
	font-size: 24px;
	line-height: 48px;
	padding: 30px 0 10px;
}
.project>p {
	color: #999;
	font-size: 18px;
	line-height: 36px;
}
.proScheduleBar {
	font-size: 0;
	margin: auto;
	text-align: center;
}
.proSchedule {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	margin: 0 2%;
}
.proSchedule span {
	color: #666;
	font-size: 14px;
	line-height: 28px;
}
.proSchedule p {
	color: #FF8500;
	font-size: 14px;
	line-height: 28px;
}
.scheduleCir {
	background-color: #FF8500;
	border-radius: 50%;
	color: #FFF;
	font-size: 14px;
	line-height: 70px;
	width: 70px;
	height: 70px;
	margin: 5px auto;
}
.proScheduleBar .proSchedule:last-of-type .scheduleCir {
	background-color: transparent;
	border: 2px solid #FF8500;
	color: #FF8500;
}
.hotel {
	text-align: center;
}
.placeBox ,
.hotelBox {
	margin: auto;
	text-align: center;
}
.placeImg ,
.hotelImg {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	left: 0;
	top: 0;
}
.placeImg img ,
.hotelImg img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.placeText ,
.hotelText {
	display: block;
	margin: auto;
	position: relative;
}
.place h4 ,
.hotel h4 {
	color: #00A0E9;
	font-size: 18px;
	line-height: 50px;
	margin-top: 20px;
}
.hotel h4 {
	color: #FF8500;
}
.placeText h5 ,
.hotelText h5 {
	color: #FF8500;
	font-size: 18px;
	line-height: 36px;
	padding: 15px 0;
}
.placeText p ,
.hotelText p {
	color: #999;
	font-size: 14px;
	line-height: 28px;
	text-align: justify;
}
.btnRoom {
	display: block;
	margin: auto;
	font-size: 0;
	text-align: center;
}
.attractionsBar {
	background-color: #00A0E9;
	font-size: 0;
}
.funBar {
	background-color: #FF8500;
	font-size: 0;
}
.moreattractionsBar ,
.morefunBar {
	font-size: 0;
}
.attractionsBar h4 ,
.funBar {
	color: #FFF;
	font-size: 18px;
	line-height: 50px;
}
.moreattractionsBar h4 ,
.morefunBar {
	color: #FF8500;
	font-size: 18px;
	line-height: 50px;
}
.morefunBar h4{
	color: #00A0E9;
}
.attractions ,
.fun {
	background-color: #FFF;
	border: 2px solid #EEE;
	text-align: center;
	margin: 0px auto 20px;
}
.attractionsImg ,
.funImg {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	left: 0;
	top: 0;
}
.attractionsImg img ,
.funImg img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.attractionsText ,
.funText {
	text-align: center;
}
.attractionsText h5 ,
.funText h5 {
	color: #FF8500;
	font-size: 18px;
	line-height: 36px;
	padding: 10px 0;
}
.attractionsText p ,
.funText p{
	color: #999;
	display: block;
	font-size: 14px;
	line-height: 28px;
	text-align: justify;
	margin: auto;
}
.knowMore ,
.addPlan {
	display: inline-block;
	border: 2px solid #CCC;
	color: #999;
	font-size: 14px;
	line-height: 40px;
	width: 100px;
	text-align: center;
	margin: 10px 10px 20px;
	transition: .3s;
}
.addPlan {
	border: 2px solid #FF8500;
	color: #FF8500;
}
.big {
	margin-top: 30px;
	margin-bottom: 50px;
}
.knowMore:hover {
	color: #FF8500;
	border-color: #FF8500;
	transition: .3s;
}
.addPlan:hover {
	background-color: #FF8500;
	color: #FFF;
	transition: .3s;
}
.attractionsBar ,
.moreattractionsBar ,
.funBar ,
.morefunBar ,
.place ,
.hotel ,
.map {
	padding: 20px 0;
	text-align: center;
}
.place {
	padding: 0;
}
.map h4 {
	color: #FF8500;
	font-size: 18px;
	line-height: 50px;
}
.map p {
	font-size: 14px;
	line-height: 28px;
	color: #999;
	padding-bottom: 15px;
}
.thanks {
	background-image: url("../pic/thanks.jpeg");
	background-size: 200% auto;
	background-position: center;
	background-repeat: no-repeat;
	/*height: 36vh;*/
	text-align: center;
	padding-bottom: 50px;
}
.thanks h2 {
	color: #FFF;
	font-size: 24px;
	line-height: 48px;
	padding: 50px 0;
}
.thanks a {
	color: #FFF;
	font-size: 14px;
	margin:0 auto;	
}
.map {
	padding-bottom: 0;
}
.btn {
	border-radius: 15px;
	display: block;
	font-size: 14px;
	width: 150px;
	height: 50px;
	line-height: 50px;
	letter-spacing: 1px;
	text-decoration: none;
}
.btnPlan {
	background-color: #FF8500;
	color: #FFF;
	transition: all .5s;
}
#backTop {
	background-color: #FFF;
	border: 3px solid #999;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1;
	opacity: 0;
	transition: 1s;
}
#backTop:after {
	content: '';
	width: 20px;
	height: 3px;
	background-color: #999;
	position: absolute;
	left: 12px;
	top: 25px;
	transform: rotate(135deg);
}
#backTop:before {
	content: '';
	width: 20px;
	height: 3px;
	background-color: #999;
	position: absolute;
	left: 24px;
	top: 25px;
	transform: rotate(45deg);
}
#backTop a {
	border-radius: 50%;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
/*Pad CSS settings*/
@media screen and( min-width: 768px ){
}

/*Desktop CSS Settings*/
@media screen and ( min-width: 1200px ){
	.top {
		background-size: 100% 100%;
		font-size: 0;
		height: 100vh;
		text-align: center;
	}
	.top:before {
		content:'';
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}
	.topMain {
		display: inline-block;
		vertical-align: middle;
		margin-top: -50px;
	}
	.topText p {
		font-size: 18px;
	}
	.place ,
	.hotel {
		font-size: 0;
	}
	.placeImg , 
	.placeText ,
	.hotelImg ,
	.hotelText {
		display: inline-block;
		vertical-align: middle;
	}
	.placeImg ,
	.hotelImg {
		padding-bottom: 28.125%;
	}
	.placeText p ,
	.hotelText p {
		margin: auto;
	}
	.attractions ,
	.fun{
		display: inline-block;
		margin: 0 2%;
		vertical-align: top;
	}
	.btnRoom {
		text-align: right;
	}
	.knowMore ,
	.addPlan {
		width: 76px;
	}
	.project h3 ,
	.place h4 ,
	.attractionsBar h4 ,
	.moreattractionsBar h4 ,
	.funBar h4 ,
	.morefunBar h4 ,
	.hotel h4 ,
	.map h4 {
		font-size: 32px;
		line-height: 80px;
		padding: 50px 0 20px;
	}
	.map p {
		font-size: 18px;
		line-height: 30px;
	}
	.hotelImg {
		position: relative;
		left: 50%;
	}
	.hotelText {
		position: relative;
		right: 50%;
	}
	.projectBG {
		background-image: url("../pic/projectBG.jpg");
		background-size: 100%;
		background-attachment: fixed;
		height: 35vh;
	}
	.thanks {
		background-size: 100%;
		background-position: middle;
		padding-bottom: 50px;
	}
	.thanks h2 {
		color: #FFF;
		font-size: 32px;
		line-height: 64px;
		padding: 50px 0;
		text-shadow: 0px 0px 1px #000;
	}
	.btn {
		display: inline-block;
		font-size: 14px;
		margin: 30px;
	}
	.btnPlan:hover {
		background-color: #00A0E9;
		transition: all .5s;
	}
	#backTop {
		display: none;
	}
}